<% include ./partials/header.ejs %>

<ul class="nav nav-tabs">
	<div ng-repeat="(key,val) in views track by $index" ng-class="{active:val}">
		<a href="" ng-click="app.tabFunction(key)" ng-bind="key"></a>
	</div> 
</ul> 

<section class="tab-content">

	<div title="NOTES" class="tab-pane" ng-class="{active : views.NOTES}">
		<p>Notes</p><br>

	</div>

	<div title="SETTINGS" class="tab-pane" ng-class="{active : views.SETTINGS}">
		<p>Settings</p><br>

	</div>






	<p id="footer-code">
		If you'd like to see my code for this site, you can find it: 
		<a href="https://github.com/SalamanderMike/notesphere">HERE</a><br>
	</p>
	<p id="footer-me">
		For an introduction to me, refer to my LinkedIn profile:
		<a href="http://www.linkedin.com/in/michael-mcclure-69494655">HERE</a>
	</p>
</section>

<% include ./partials/footer.ejs %>
